{% extends "base.html" %}

{% block title %}Materias - Gestion Academica{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 class="card-title">Materias Estudiante</h2>
        <h6>Cargar una materia</h6>
        <div class="card">
            <div class="card-body">
                <form action="/registrar_materia/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txt_nombre" name="txt_nombre" class="form-control"
                               placeholder="Nombre de la Materia" minlength="1" maxlength="25" required>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success btn-block text-white">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive">
            <h2 class="card-title">Listado de materias</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th colspan="2">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for i in materias %}
                <tr>
                    <td> {{ i.id_materia }}</td>
                    <td> {{ i.nombre_materia }}</td>
                    <td><a href="/edicion_materia/{{i.id_materia}}" class="btn btn-info">Editar</a></td>
                    <td><a href="/eliminar_materia/{{i.id_materia}}" class="btn btn-danger btnEliminacion">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}