<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Gestion Academica {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            padding-top: 56px; /* Espacio que se deja antes de colocar texto */
            background-color: #98D8FF; /* Color de fondo */
        }
        .navbar{
            background-color: #796DCE;
        }
    </style>
</head>
<body>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
 <div class="container">
        <a class="navbar-brand" href="#">Gestion Academica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {%if request.resolver_match.url_name == 'access' %}active{% endif %}" aria-current="page" href="{% url 'access' %}">Access</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<main class="container mt-4 mb-5">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <h5 class="mb-3">Contacta con nosotros</h5>
                <ul class="list-unstyled">
                    <li><strong>Dirección:</strong> Villarrica</li>
                    <li><strong>Teléfono:</strong> +595 123456789</li>
                    <li><strong>Email:</strong> info@gestion.com</li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <h5 class="mb-3">Enlaces útiles</h5>
                <ul class="list-unstyled">
                    <li><a>Access</a></li>
                    <li><a>Home</a></li>
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="mt-4">
            <p class="mb-0">&copy; 2024 Gestion Academica. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>

