{% extends "base.html" %}

{% block content %}

<div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Materia</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="materia" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>

{% endblock %}