{% extends 'base.html' %}

{% block title %}Registrar Usuario{% endblock %}

{%block content %}
<div class="row justify-content-center">
    <div class="col-md-12 mb-2">
        <h1 class="text-center text-uppercase">
            Registrar Usuario
            <a
                    style="color: #14ad47; float: right; padding: 0px 10px 0px 0px"
            <i class="bi bi-person-fill-up"></i>
            </a>
            <hr/>
        </h1>
    </div>
</div>

<div class="row justify-content-md-center">
    {{error}}
    <form method="POST" >
        {% csrf_token %}
        <div>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>

    </form>
</div>

{% endblock %}