{% extends 'base.html' %}

{% block title %}Registrarse - Gestion Academica{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="text-center">Registrar Usuario</h2>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Aceptar</button>
                    </form>
                </div>
            </div>

            <div class="text-center mt-3">
                <p>¿Ya tienes cuenta?</p>
                <a href="{% url 'signin' %}" class="btn btn-success">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
