{% extends "base.html" %}

{% block title %}Acceso - Gestion Academica{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 mx-auto">
        <h1 class="mb-4">Acceso</h1>

        <div class="alert alert-info" role="alert">
            Por favor, ingresa tus credenciales para acceder al sistema.
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Iniciar Sesión</h2>
                {{error}}
                <form method="POST">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>

        <div class="mt-4">
            <h2 class="mb-3">¿No tienes cuenta?</h2>
            <p>Haz click aqui para registrarte.</p>
            <a href="{% url 'register' %}" class="btn btn-success">Registrarse</a>
        </div>
    </div>
</div>
{% endblock %}

